.profile {
    padding: 5% 10% 5% 15%;
    display: flex;
    direction: row;
    .section-1 {
        width: 20%;
        height: 100%;
        margin-top: 20%;
    }
    .section-2 {
        width: 100%;
        .userName {
            padding: 5% 10%;
            font-size: 30px;
        }
    }
}
